body {
    background-image:url(/assets/images/data_background.jpg);
    color:#E8E8E8;
}

#footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 20px;
    text-align:center;
    color:#E8E8E8;
    background:#0F0F0F;
    font-size:9px;
}

h1, h2 {
  color:#E8E8E8;
}

.text-area {
  height:100px;
}

.dark {
  color:#080808;
}

.post-list {
  background:#0F0F0F;
}
.post-list.ng-enter {
  -webkit-transition:1.5s linear all;
  transition:1.5s linear all;
  background-color: #0066CC;
}
.post-list.ng-enter-active {
  background-color: #0F0F0F;
}

/*
.slide {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
}
.slide.ng-enter,
.slide.ng-leave {
    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -o-transition: all 1s ease;
    transition: all 1s ease;
}
.slide.ng-enter {
    left: 100%;
}
.slide.ng-enter-active {
    left: 0;
}
.slide.ng-leave {
    left: 0;
}
.slide.ng-leave-active {
    left: -100%;
}
*/
/* crossFade */
.crossFade.ng-enter {
    transition-duration: 200ms;
    opacity: 0;
}
.crossFade.ng-enter.ng-enter-active {
    opacity: 1;
}
.crossFade.ng-leave {
    transition-duration: 200ms;
    opacity: 1;
}
.crossFade.ng-leave.ng-leave-active {
    opacity: 0;
}

ul { list-style:none; }

.postList { -moz-transform:translate(-15px, 0px); -moz-box-shadow:0px 0px 15px #0066CC;
               -webkit-transform:translate(-15px, 0px); -webkit-box-shadow:0px 0px 15px #0066CC;
                transform:translate(-15px, 0px); box-shadow:0px 0px 15px #0066CC; }

#topicList a { display:block; width:300px; height:28px; background-color:#333;
                 border-left:5px solid #222; border-right:5px solid #222;
                 padding-left:10px; text-decoration:none; color:#E8E8E8; }
#topicList a:hover { -moz-transform:rotate(0deg); -moz-box-shadow:10px 10px 20px #0066CC;
                       -webkit-transform:rotate(0deg); -webkit-box-shadow:10px 10px 20px #0066CC;
                        transform:rotate(0deg); box-shadow:10px 10px 20px #0066CC; }
/*
#folderMenu * {
  margin: 0;
  padding: 0;
}
 
#folderMenu nav {
  margin: 50px;
}
 
#folderMenu ul {
  overflow: auto;
  list-style-type: none;
}
 
#folderMenu li {
  height: 25px;
  float: left;
  margin-right: 0px;
  border-right: 1px solid #aaa;
  padding: 0 20px;
}
 
#folderMenu li:last-child {
  border-right: none;
}
 
#folderMenu li a {
  text-decoration: none;
  color: #ccc;
  font: 25px/1 Helvetica, Verdana, sans-serif;
  text-transform: uppercase;
 
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
 
#folderMenu li a:hover {
  color: #666;
}
 
#folderMenu li.active a {
  font-weight: bold;
  color: #0099CC;
}
*/