body {
    background-image:url(/assets/images/data_background.jpg);
    color:#E8E8E8;
}

#footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 20px;
    text-align:center;
    color:#E8E8E8;
    background:#0F0F0F;
    font-size:9px;
}

h1, h2 {
  color:#E8E8E8;
}

.text-area {
  height:100px;
}

.dark {
  color:#080808;
}

.post-list {
  background:#0F0F0F;
}
.post-list.ng-enter {
  -webkit-transition:1.5s linear all;
  transition:1.5s linear all;
  background-color: #0066CC;
}
.post-list.ng-enter-active {
  background-color: #0F0F0F;
}

ul { list-style:none; }
ol { list-style:none; }

.postList { -moz-transform:translate(-15px, 0px); -moz-box-shadow:0px 0px 15px #0066CC;
               -webkit-transform:translate(-15px, 0px); -webkit-box-shadow:0px 0px 15px #0066CC;
                transform:translate(-15px, 0px); box-shadow:0px 0px 15px #0066CC; }

#topicList a { display:block; width:300px; height:28px; background-color:#333;
                 border-left:5px solid #222; border-right:5px solid #222;
                 padding-left:10px; text-decoration:none; color:#E8E8E8; }
#topicList a:hover { -moz-transform:rotate(0deg); -moz-box-shadow:10px 10px 20px #0066CC;
                       -webkit-transform:rotate(0deg); -webkit-box-shadow:10px 10px 20px #0066CC;
                        transform:rotate(0deg); box-shadow:10px 10px 20px #0066CC; }




.btn {
    margin-right: 5px;
}

.topic-title {
    background: #1E2B34;
}
.topic-title a {
    color: white;
}

.post-title {
    color: #9EDDFF;
    background: #162B3E;
}

.angular-ui-tree-handle {
    border: 1px solid #0D161F;
    padding: 10px 10px;
}

.angular-ui-tree-handle:hover {
    color: #438eb9;
    background: #2B445A;
    border-color: #DCE2F8;
}

pre {
  background: #0C0C0C;
  color: #7C9EB2;
  border-color: #0D161F;
  white-space: pre-wrap; /* css-3 */
  white-space: -moz-pre-wrap !important; /* Mozilla, since 1999 */
  white-space: -pre-wrap; /* Opera 4-6 */
  white-space: -o-pre-wrap; /* Opera 7 */
  word-wrap: break-word; /* Internet Explorer 5.5+ */
}

select {
  color:black;
}