<div>
    <h1><strong>{{title}}</strong></h1>
   
    <h2>The <strong>easy way</strong> to create and manage bookmark collections. Its so much fun. So be warned: SynapsIt is addictive. You’ll <strong>never ever</strong> give it away!
    </h2>
        
    <div class="row" data-equalizer>
        <div class="medium-4 columns">
          <div class="panel" data-equalizer-watch>
            <h3>Easy</h3>
            <p>SynapsIt is a lightweight treasure that collects and intelligently organizes your internet bookmarks in a new and sophisticated way. It enables you to search, analyze and even to share the collections with friends and partners.</p>
          </div>
        </div>
        <div class="medium-4 columns">
          <div class="panel" data-equalizer-watch>
            <h3>Responsive</h3>
            <p>SynapsIt’s responsive user interface provides direct access to bookmark collections from any device and with any browser. Search and analysis features provide best transparency and quick and most accurate search results. Grouping features and the in-link search function add undiscovered value to your collections.</p>
          </div>
        </div>
        <div class="medium-4 columns">
          <div class="panel" data-equalizer-watch>
            <h3>Join!</h3>
            <p>Login or create a new account, now. It’s free. Discover SynapsIt. You’ll love it!</p>
          </div>
        </div>
    </div>
</div>
