<div>
  <div id="myPostModal" class="reveal-modal" data-reveal>
    <h2>Add Post</h2>
    <form>
      <textarea placeholder="Content" ng-model="formData.content"></textarea>
      <input ng-click="createPost(formData)" class="button" value="Submit">
    </form>

    <pre>
      {{ formData }}
    </pre>
  </div>
	
	<dl class="sub-nav">
    <dt>Posts:</dt>
    <dd class="active"><a data-reveal-id="myPostModal">Add</a></dd>
    <dd><a href="javascript:history.back()">Back</a></dd>
    <dd><input type="text" ng-model="postFilter" placeholder="Search Posts..." style="height:28px;"></dd>
  </dl>
    
  <ul class="rectangle-list">
    <li ng-repeat="post in posts | filter:postFilter">
      <div class="row">
        <div class="small-9 columns">
          <p ng-bind-html="post.content | createHyperlinks"></p>
        </div>
        <div class="small-3 columns">
          <a class="button tiny alert" ng-click="delPost(post.sid, $index)">-</a>
        </div>
      </div>
      <hr/>
    </li>      
  </ul>
</div>
