<div>
  <div id="folderModal" class="reveal-modal" data-reveal>
    <h3 class="dark">Add Folder</h3>
    <form>
      <input type="text" placeholder="Folder name" ng-model="formData.name" required>    
      <input ng-click="createFolder(formData)" class="button" value="Submit">
    </form>
    <a class="close-reveal-modal">&#215;</a>
  </div>

  <div id="topicModal" class="reveal-modal" data-reveal>
    <h3 class="dark">Add Topic</h3>
    <form>
      <input type="text" placeholder="Topic name" ng-model="formData.name" required>
      <select ng-model="formData.folder_id" ng-options="folder.sid as folder.name for folder in folders"><option>--</option></select>
      <textarea placeholder="Description" ng-model="formData.description"></textarea>

      <input ng-click="createTopic(formData)" class="button" value="Submit">
    </form>
    <a class="close-reveal-modal">&#215;</a>
  </div>
  
  <div id="editTopicModal" class="reveal-modal" data-reveal>
    <h3 class="dark">Edit Topic</h3>
    <form>
      <input type="text" placeholder="Topic name" ng-model="formData.name" required>
      <select ng-model="formData.folder_id" ng-options="folder.sid as folder.name for folder in folders"><option>--</option></select>
      <textarea placeholder="Description" ng-model="formData.description"></textarea>

      <input ng-click="editTopic(formData)" class="button" value="Submit">
    </form>
    <a class="close-reveal-modal">&#215;</a>
  </div>
  
  <h2>Topics <a class="round button" data-reveal-id="topicModal" style="margin-left:50px">Add</a></h2>

  <hr/>
  <dl class="sub-nav">
    <dt>Folders:</dt>
    <dd class="active"><a data-reveal-id="folderModal">Add</a></dd>
    <dd ng-repeat="folder in folders" ng-class="{active: $index == selectedFolder}">
        <a href="/#/folders/{{folder.sid}}">{{folder.name}}</a>
    </dd>
    <dd class="active"><a href="/#/topics">All</a></dd>
  </dl>
  <hr/>

  <div id="list8">
    <ul>
      <li>
        <div class="row">
          <div class="small-5 columns">
            <input type="text" ng-model="topicFilter" placeholder="Filter Topics...">
          </div>
        </div>
      </li>
      <li ng-repeat="topic in topics | filter:topicFilter">
        <div class="row">
          <div class="small-9 columns">
            <a ng-click="viewTopic(topic.sid, topic.name)">
              <strong>{{topic.name}}</strong>              
            </a>
            <p>{{topic.description}}</p>
          </div>
          <div class="small-3 columns">
            <span class="round label" ng-click="preEditTopic($index)">Edit</span><br>
            <span class="round alert label" ng-click="delTopic(topic.sid, $index)">Del</span>
          </div>
        </div>
      </li>
    </ul>
  </div>
</div>