<div>
  <div id="editFolderModal" class="reveal-modal" data-reveal>
    <h3 class="dark">Edit Folder</h3>
    <form>
      <input type="text" placeholder="Folder name" ng-model="formData.name" required>    
      <a ng-click="editFolder(formData)" class="button">Submit</a>
    </form>
    <a class="close-reveal-modal">&#215;</a>
  </div>

  <h2>Folders</h2>
  <hr/>
  <ul>
    <li ng-repeat="folder in folders">
      <div class="row">
        <div class="small-9 columns">
          <a href="/#/folders/{{folder._id.$oid}}">{{folder.name}}</a>
        </div>
        <div class="small-2 columns">
          <a class="round label" dropdown-toggle="#folderActions" style="margin-right:5px">Action</a>
          <ul id="folderActions" class="f-dropdown">
            <li><a ng-click="preEditFolder(folder)">Edit</a></li>
            <li><a ng-click="delFolder(folder)">Delete</a></li>
          </ul>
        </div>
      </div>
    </li>      
  </ul>
</div>
