<div>
    <h1><strong>{{title}}</strong></h1>

    <h2>This is <strong>my playground</strong> for testing out an idea and really when you get down to
        it... <strong>just use it</strong>.
    </h2>
        
    <div class="row" data-equalizer>
        <div class="medium-4 columns">
          <div class="panel" data-equalizer-watch>
            <h3>What?</h3>
            <p>Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante.</p>
          </div>
        </div>
        <div class="medium-4 columns">
          <div class="panel" data-equalizer-watch>
            <h3>Why?</h3>
            <p>Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante.</p>
          </div>
        </div>
        <div class="medium-4 columns">
          <div class="panel" data-equalizer-watch>
            <h3>When?</h3>
            <p>Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante. Donec eu libero sit amet quam egestas semper. Aenean ultricies mi vitae est. Mauris placerat eleifend leo.</p>
          </div>
        </div>
    </div>
</div>
