<div>
  <div id="createPostModal" class="reveal-modal" data-reveal>
    <h3 class="dark">Add Post</h3>
    <form>
      <textarea placeholder="Content" ng-model="formData.content" required></textarea>
      <input type="text" placeholder="Description" ng-model="formData.description">
      <label class="dark">Insert URL Title into Description?</label>
      <input type="checkbox" ng-model="formData.insertTitle"><br/>
      <input ng-click="createPost(formData)" class="button" value="Submit">
    </form>
    <a class="close-reveal-modal">&#215;</a>
  </div>
  
  <div id="editPostModal" class="reveal-modal" data-reveal>
    <h3 class="dark">Edit Post</h3>
    <form>
      <textarea placeholder="Content" ng-model="formData.content" required></textarea>
      <input type="text" placeholder="Description" ng-model="formData.description">
      <input ng-click="editPost(formData)" class="button" value="Submit">
    </form>
    <a class="close-reveal-modal">&#215;</a>
  </div>

  <div id="subTopicModal" class="reveal-modal" data-reveal>
    <h3 class="dark">Add Topic</h3>
    <form>
      <input type="text" placeholder="Topic name" ng-model="formData.name" required>
      <select ng-model="formData.folder_id" ng-options="folder._id.$oid as folder.name for folder in folders"></select>
      <textarea placeholder="Description" ng-model="formData.description"></textarea>

      <input ng-click="createSubTopic(formData)" class="button" value="Submit">
    </form>
    <a class="close-reveal-modal">&#215;</a>
  </div>
	
	<h2>
    <div class="row collapse">
      <div class="small-5 columns">
        POSTS<span ng-hide="hiding"> OF: {{topicName}}</span>
      </div>
      <div class="small-1 small-7 columns">
        <ul class="button-group radius" ng-hide="hiding">
          <li><a data-reveal-id="createPostModal" class="button">Add Post</a></li>
          <li><a class="button secondary" onclick="history.back();">Back</a></li>
        </ul>
      </div>
    </div>
  </h2>

  <hr ng-hide="hiding"/>

  <dl class="sub-nav" ng-hide="hiding">
    <dt>Sub-Topics:</dt>
    <dd class="active"><a data-reveal-id="subTopicModal">Add</a></dd>
    <dd ng-repeat="subtopic in subtopics">
      <a href="/#/topics/{{subtopic._id.$oid}}">{{subtopic.name}}</a>
    </dd>
  </dl>
  <hr/>

  <div class="row collapse">
    <div class="small-5 columns">
      <input type="text" ng-model="postFilter" placeholder="Filter Posts...">
    </div>
    <div class="small-1 small-7 columns">
      <button ng-click="postFilter = ''" class="alert button small" style="height:37px">X</button>
    </div>
  </div>

  <div id="postList">
    <ul>
      <li ng-repeat="post in posts | filter:postFilter | orderBy: '-created_at'">
        <div class="row" style="font-family:Courier New">
          <div class="small-10 columns">
            <small> {{post.created_at | date:'yyyy-MM-dd  HH:mm:ss'}} </small>
            <code>
              <p ng-bind-html="post.content | createHyperlinks"></p>
            </code>
            <p>{{post.description}}</p>
          </div>
          <div class="small-2 columns">
            <span class="round label" ng-click="preEditPost(post)">Edit</span><br>
            <span class="round alert label" ng-click="delPost(post)">Del</span>
          </div>
        </div>
      </li>      
    </ul>
  </div>
</div>
