<div>
  <div id="folderModal" class="reveal-modal" data-reveal>
    <h3 class="dark">Add Folder</h3>
    <form>
      <input type="text" placeholder="Folder name" ng-model="formData.name" required>    
      <input ng-click="createFolder(formData)" class="button" value="Submit">
    </form>
    <a class="close-reveal-modal">&#215;</a>
  </div>

  <div id="topicModal" class="reveal-modal" data-reveal>
    <h3 class="dark">Add Topic</h3>
    <form>
      <input type="text" placeholder="Topic name" ng-model="formData.name" required>
      <select ng-model="formData.folder_id" ng-options="folder._id.$oid as folder.name for folder in folders"><option>--</option></select>
      <textarea placeholder="Description" ng-model="formData.description"></textarea>

      <input ng-click="createTopic(formData)" class="button" value="Submit">
    </form>
    <a class="close-reveal-modal">&#215;</a>
  </div>
  
  <div id="editTopicModal" class="reveal-modal" data-reveal>
    <h3 class="dark">Edit Topic</h3>
    <form>
      <input type="text" placeholder="Topic name" ng-model="formData.name" required>
      <select ng-model="formData.folder_id" ng-options="folder._id.$oid as folder.name for folder in folders"></select>
      <textarea placeholder="Description" ng-model="formData.description"></textarea>

      <input ng-click="editTopic(formData)" class="button" value="Submit">
    </form>
    <a class="close-reveal-modal">&#215;</a>
  </div>
  
  <h2>
    <div class="row collapse">
      <div class="small-5 columns">
        TOPICS
      </div>
      <div class="small-1 small-7 columns">
        <a class="radius button" data-reveal-id="topicModal">Add Topic</a>
      </div>
    </div>
  </h2>

  <hr/>

  <dl class="sub-nav">
    <dt>Folders:</dt>
    <dd class="active"><a data-reveal-id="folderModal">Add</a></dd>
    <dd ng-repeat="folder in folders" ng-class="{active: $index == selectedFolder}">
        <a href="/#/folders/{{folder._id.$oid}}">{{folder.name}}</a>
    </dd>
    <dd class="active"><a href="/#/topics">All</a></dd>
  </dl>
  <hr/>

  <div id="list8">
    <ul>
      <li>
        <div class="row collapse">
          <div class="small-5 columns">
            <input type="text" ng-model="topicFilter" placeholder="Filter Topics...">
          </div>
          <div class="small-1 small-7 columns">
            <button ng-click="topicFilter = ''" class="alert button small" style="height:37px">X</button>
          </div>
        </div>
      </li>
      <li ng-repeat="topic in topics | filter:topicFilter | orderBy: 'name'">
        <div class="row">
          <div class="small-9 columns">
            <a ng-click="viewTopic(topic._id.$oid, topic.name)">
              <strong>{{topic.name}}</strong>              
            </a>
            <p>{{topic.description}}</p>
          </div>
          <div class="small-3 columns">
            <span class="round label" ng-click="preEditTopic(topic)">Edit</span><br>
            <span class="round alert label" ng-click="delTopic(topic)">Del</span>
          </div>
        </div>
        <hr/>
      </li>
    </ul>
  </div>
</div>